body {
	background: #f2f2f2;
}
header {
	position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
}
#header {
	position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  height: 60px;
  z-index: 1;
  background: #999;
  box-shadow: 0 0 10px #ccc;
  -webkit-transition: all 5s ease;
  transition: all 5s ease;
}
#home,#experience,#skill,#me {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  background-color: #f2f2f2;
  background: url(../images/bg1.jpg) no-repeat center top;
  background-size: 100% 100%;
}
/*#experience {
  background-image: url(../images/bg2.jpg);
}
#skill {
  background-image: url(../images/bg3.jpg);
}
#me {
  background-image: url(../images/bg4.jpg);
}*/
#logo {
	float: left;
	margin: 5px 30px;
}
@media screen and (max-width: 1366px){
	#logo {
    margin: 0 30px;
	}
}
.logo_container {
	float: left;
}
.logo_container img {
	width: 60px;
  height: 60px;
  border-radius: 30px;
  -webkit-transition: box-shadow 0.5s;
  transition: box-shadow 0.5s;
}
.logo_container img:hover {
	box-shadow: 0 0 15px #1FAEFF;
}
.head_txt {
	float: left;
	margin-left: 15px;
  text-align: center;
  color: #000;
}
.head_txt .p1 {
	margin: 0px 15px 5px;
  padding: 5px 15px;
  width: 50px;
  border-bottom: 1px solid #333;
}
.head_txt .p2 {
	padding: 0 15px;
}
@media screen and (max-width: 1366px){
	nav {
    margin-top: 18px;
	}
}
nav {
  float: right;
}
nav {
  margin-right: 60px;
}
nav li {
  float: left;
  margin: 0 20px;
}
nav li a {
  padding: 25px 0;
  position: relative;
  color: #666;
}
nav li a:hover {
  color: #000;
}

#home_content, #about_content, #skill_content, #exp_content, #demo_content, #contact_content {
  margin: 0 auto;
  width: 1000px;
  height: auto;
}
@media screen and (max-width: 640px){
	#home_content, #about_content, #skill_content, #exp_content, #demo_content, #contact_content {
	  margin: 0 auto;
	  width: 80%;
	  height: auto;
	}
}
#home_head {
  margin: 300px auto 30px;
  width: 200px;
  -webkit-transition: margin-top 2s ease-in-out;
  transition: margin-top 2s ease-in-out;
}
#home_head_content {
  margin: 0 auto;
  position: relative;
  width: 153.2px;
  height: 153.2px;
  cursor: pointer;
}
#home_head img {
  width: 150px;
  height: 150px;
  border: 2px #CCCCCC solid;
  border-radius: 75px;
  position: absolute;
  -webkit-transition: box-shadow 2s;
  transition: box-shadow 2s;
}
#home_info1 {
  font-size: 20px;
  font-weight: bold;
}
#home_info1, #home_info2, #home_info3, #home_info4, #home_info5 {
  margin: 15px auto;
  width: 800px;
  text-align: center;
}
@media screen and (max-width: 640px){
	#home_content, #about_content, #skill_content, #exp_content, #demo_content, #contact_content {
	  margin: 15px auto;
	  width: 90%;
	  text-align: center;
	}
}
#home_info_box {
  border-top: 2px solid #ccc;
  width: 0;
  margin: 15px auto;
}
#container {
  position: relative;
  margin: 80px auto;
  min-height: 32px;
  width: 500px;
}

#container img {
  position: absolute;
  cursor: pointer;
  opacity: .6;
  display: none;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  transition-duration: 0.8s;
}
@media screen and (max-width: 1366px)
.title {
  margin-top: 60px;
}
.title {
  text-align: center;
  margin-top: 100px;
  width: 100%;
  height: 60px;
}
h1 {
  width: 150px;
  margin: 0 auto;
  font-size: 26px;
}
.title_en {
  width: 0;
  margin: 3px auto;
  padding: 5px 0;
  border-top: 2px solid #aaa;
}
@media screen and (max-width: 1366px)
h2 {
  font-size: 12px;
}
h2 {
  font-family: "allerbold";
  font-weight: bold;
  color: #aaa;
  text-transform: uppercase;
  font-size: 14px;
}
#home_content, #about_content, #skill_content, #exp_content, #demo_content, #contact_content {
  margin: 0 auto;
  width: 1000px;
  height: auto;
}
#skill_list {
  margin: 80px auto 20px;
  width: 100%;
  font-size: 16px;
  height: 400px;
}
.tag-panel {
  margin: 15px auto;
  text-align: center;
}
.tag.expert {
  opacity: 1;
}
.tag {
  background-color: #3BA99C;
  color: #F5F5F5;
  border-radius: 3px;
  display: inline-block;
  padding: 2px 8px;
  margin-right: 3px;
  margin-bottom: 3px;
  opacity: 0.5;
}
.tag.familiar {
  opacity: 0.75;
}