body {
	background: #f2f2f2;
}
header {
	position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
}
#header {
	position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  height: 60px;
  z-index: 1;
  background: #999;
  box-shadow: 0 0 10px #ccc;
  -webkit-transition: all 5s ease;
  transition: all 5s ease;
}
#home,#experience,#skill,#me {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  background-color: #f2f2f2;
  background: url(../images/bg1.jpg) no-repeat center top;
  background-size: 100% 100%;
}
/*#experience {
  background-image: url(../images/bg2.jpg);
}
#skill {
  background-image: url(../images/bg3.jpg);
}
#me {
  background-image: url(../images/bg4.jpg);
}*/
#logo {
	float: left;
	margin: 5px 30px;
}
@media screen and (max-width: 1366px){
	#logo {
    margin: 0 30px;
	}
}
.logo_container {
	float: left;
}
.logo_container img {
	width: 60px;
  height: 60px;
  border-radius: 30px;
  -webkit-transition: box-shadow 0.5s;
  transition: box-shadow 0.5s;
}
.logo_container img:hover {
	box-shadow: 0 0 15px #1FAEFF;
}
.head_txt {
	float: left;
	margin-left: 15px;
  text-align: center;
  color: #000;
}
.head_txt .p1 {
	margin: 0px 15px 5px;
  padding: 5px 15px;
  width: 50px;
  border-bottom: 1px solid #333;
}
.head_txt .p2 {
	padding: 0 15px;
}
@media screen and (max-width: 1366px){
	nav {
    margin-top: 18px;
	}
}
nav {
  float: right;
}
nav {
  margin-right: 60px;
}
nav li {
  float: left;
  margin: 0 20px;
}
nav li a {
  padding: 25px 0;
  position: relative;
  color: #666;
}
nav li a:hover {
  color: #000;
}

#home_content, #about_content, #skill_content, #exp_content, #demo_content, #contact_content {
  margin: 0 auto;
  width: 1000px;
  height: auto;
}
@media screen and (max-width: 640px){
	#home_content, #about_content, #skill_content, #exp_content, #demo_content, #contact_content {
	  margin: 0 auto;
	  width: 80%;
	  height: auto;
	}
}
#home_head {
  margin: 300px auto 30px;
  width: 200px;
  -webkit-transition: margin-top 2s ease-in-out;
  transition: margin-top 2s ease-in-out;
}
#home_head_content {
  margin: 0 auto;
  position: relative;
  width: 153.2px;
  height: 153.2px;
  cursor: pointer;
}
#home_head img {
  width: 150px;
  height: 150px;
  border: 2px #CCCCCC solid;
  border-radius: 75px;
  position: absolute;
  -webkit-transition: box-shadow 2s;
  transition: box-shadow 2s;
}
#home_info1 {
  font-size: 20px;
  font-weight: bold;
}
#home_info1, #home_info2, #home_info3, #home_info4, #home_info5 {
  margin: 15px auto;
  width: 800px;
  text-align: center;
}
@media screen and (max-width: 640px){
	#home_content, #about_content, #skill_content, #exp_content, #demo_content, #contact_content {
	  margin: 15px auto;
	  width: 90%;
	  text-align: center;
	}
}
#home_info_box {
  border-top: 2px solid #ccc;
  width: 0;
  margin: 15px auto;
}
#container {
  position: relative;
  margin: 80px auto;
  min-height: 32px;
  width: 500px;
}

#container img {
  position: absolute;
  cursor: pointer;
  opacity: .6;
  display: none;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  transition-duration: 0.8s;
}
@media screen and (max-width: 1366px)
.title {
  margin-top: 60px;
}
.title {
  text-align: center;
  margin-top: 100px;
  width: 100%;
  height: 60px;
}
h1 {
  width: 150px;
  margin: 0 auto;
  font-size: 26px;
}
.title_en {
  width: 0;
  margin: 3px auto;
  padding: 5px 0;
  border-top: 2px solid #aaa;
}
@media screen and (max-width: 1366px)
h2 {
  font-size: 12px;
}
h2 {
  font-family: "allerbold";
  font-weight: bold;
  color: #aaa;
  text-transform: uppercase;
  font-size: 14px;
}
#home_content, #about_content, #skill_content, #exp_content, #demo_content, #contact_content {
  margin: 0 auto;
  width: 1000px;
  height: auto;
}
#skill_list {
  margin: 80px auto 20px;
  width: 100%;
  font-size: 16px;
  height: 400px;
}
.tag-panel {
  margin: 15px auto;
  text-align: center;
}
.tag.expert {
  opacity: 1;
}
.tag {
  background-color: #3BA99C;
  color: #F5F5F5;
  border-radius: 3px;
  display: inline-block;
  padding: 2px 8px;
  margin-right: 3px;
  margin-bottom: 3px;
  opacity: 0.5;
}
.tag.familiar {
  opacity: 0.75;
}
#exp_list_slider {
  width: 1000px;
  overflow: hidden;
  margin: 10px auto;
}
#exp_list_slider_content {
  position: relative;
}
.b_to_t {
  -webkit-animation: b_to_t 1s;
  -moz-animation: b_to_t 1s;
  -o-animation: b_to_t 1s;
  animation: b_to_t 1s;
  visibility: visible;
}
.exp_scale {
  /*visibility: hidden;*/
}
@media screen and (max-width: 1366px){
  #exp_list_content {
    height: 300px;
  }
}
#exp_list_content {
  width: 3000px;
  line-height: 30px;
  height: 320px;
  position: relative;
  margin: 10px auto;
  border-bottom: 1px solid rgba(255,255,255,0.8);
}
@media screen and (max-width: 1366px){
  .exp_list {
    width: 900px;
    height: 300px;
    background: url(../images/chuan.png) no-repeat;
    background-size: 100% 100%;
  }
}
.exp_list {
  float: left;
  width: 1000px;
  height: 360px;
  background: url(../images/chuan.png) no-repeat;
  background-size: 100% 100%;
  box-shadow: 0px 0px 400px rgba(0, 0, 0, 0.1) inset;
}
.exp_list_left {
  width: 733px;
  float: left;
}
.exp_list dl {
  margin-left: 140px;
  margin-top: 36px;
}
.exp_list dt {
  font-size: 22px;
  margin-bottom: 30px;
}
.exp_list dd {
  position: relative;
  font-size: 14px;
}
.exp_list_time {
  font-size: 12px !important;
  margin-top: -20px;
  color: #333;
}
#exp_list_toleft {
  left: 2%;
}
#exp_list_toleft, #exp_list_toright {
  position: absolute;
  width: 60px;
  height: 60px;
  top: 42%;
  z-index: 100;
  cursor: pointer;
}
#exp_list_toright {
  right: 2%;
}
.address div {
  position: absolute;
  width: 220px;
  height: 220px;
}
@media screen and (max-width: 1366px){
  #about_list_content {
    margin: 40px auto;
    width: 700px;
  }
}
#about_list_content {
  margin: 30px auto;
  width: 1000px;
  height: 100px;
  padding: 20px 0;
  border-radius: 30px;
}
#about_list1 {
  margin-left: 60px;
}
.about_list {
  float: left;
  margin-left: 60px;
  cursor: pointer;
}
.about_list_eg {
  width: 80px;
  height: 80px;
  box-shadow: 0 0 0 4px #3BA99C;
  border-radius: 50%;
  overflow: hidden;
  color: #333;
  -webkit-transition: background 1s, color 1s, box-shadow 1s;
  transition: background 1s, color 1s, box-shadow 1s;
  float: left;
}
.about_list_eg i {
  margin-left: 10px;
  font-size: 40px;
  color:#3BA99C;
  line-height: 80px;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}
.about_list_eg:hover i {
  color:#FFC7B7;
}
.about_list_cn {
  margin-top: 17px;
  margin-left: 20px;
  line-height: 20px;
  position: relative;
  color: #333;
  float: left;
}
.about_list_cn p {
  padding-top: 10px;
  text-align: right;
  font-size: 14px;
  width: 90px;
}
.about_list_cn p:before {
  display: block;
  content: "";
  position: absolute;
  background: #ccc;
  height: 2px;
  width: 90px;
  bottom: 25px;
  -webkit-transform: rotate(-30deg);
  transform: rotate(-30deg);
}
.describe {
  margin:0 auto;
  width: 800px;
}
.ta {
  height: 200px;
  width: 800px;
  background: rgb(35,36,38);
  z-index: 2;
  -webkit-transition: all 1s, color 400ms, outline 50ms;
  transition: all 1s, color 400ms, outline 50ms;
  overflow: hidden;
}
.textarea {
  display: block;
  background: none;
  height: 200px;
  width: 800px;
  padding: 10px;
  color: rgb(236,236,236);
  font-size: 100%;
  border: 0;
}